@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
/* Ajoutez ça à la fin */
#description-overlay {
  position: fixed;
  top: 0%;
  left: 0%;
  bottom: 0%;
  /*transform: translate(-50%, -50%);*/
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 2000; /* Au-dessus de la navbar */
  display: none; /* Caché par défaut */
  max-width: 50%;
  text-align: center;
}
#description-overlay h2 {
  margin: 0 0 10px 0;
}
#description-overlay p {
  margin: 0 0 15px 0;
}